<!-- <md-toolbar color="primary">
  <span>Custom Toolbar</span>

</md-toolbar>
 --> 


<div >

    <md-toolbar color="primary">
        <i class="material-icons"> menu</i>
         <span class="title"> Forecasting</span>

    </md-toolbar>


    <div class="content-layout">
        <div class="search-section">
             <search> </search>           
        </div>

    </div>
   

</div>
