<md-card>

    <md-card-header>

    </md-card-header>

    <md-card-content>
        <form>
            
            <md-input-container class="file-choose">
                <input mdInput disabled value="Select File">
                 <input style="margin-top:5px;background-color:yellow" type="file" >
            </md-input-container>
            
            
           <div class="model-select">  
            <md-select placeholder="Select Model" [(ngModel)]="selectedValue" name="food">
                <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </md-option>
            </md-select>
            </div>
            
           
            
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button>Submit</button>

    </md-card-actions>



</md-card>